<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
    <link rel="stylesheet" href="dist/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<header class="l-header">
    <div class="u-wrapper c-site-width">
        <h1 class="c-logo"><a href="index.html" class="c-link p-header-link">Qiita Viewer</a></h1>
        <ul class="p-header-listItem">
            <li><a href="index.html" class="c-link p-header-link">TOP</a></li>
            <li class="p-header-item"><a href="mypage.html" class="c-link p-header-link">マイページ</a></li>
        </ul>
    </div>
</header>
<main class="l-main c-site-width" id="app">
    <div class="c-wrapper">
<!--        自分自身の記事の探索部分-->
        <div class="c-searchForm">
            <p class="c-title p-textWhite">Get Your Qiita's Article</p>
            <div class="c-inputArea">
                <i class="fas fa-search"></i>
                <input type="text" class="c-inputText" v-model="userID" placeholder="ここにあなたのユーザーIDを入力">
                <p class="c-errorText" v-show="message">{{ message }}</p>
            </div>
            <button class="u-btn" v-on:click="requestQiitaApi">表示</button>
            <p class="c-smallText u-smallText">あなたのIDでQiitaの記事を表示できます。</p>
        </div>
    </div>
<!--    記事表示部分-->
    <div class="c-wrapper u-flex">
        <div class="l-mainColumn">
            <h2 class="c-heading">あなたの記事一覧</h2>
            <ul class="c-listItem" v-if="datas.length">
                <li class="c-item" v-for="data in datas">
                    <p class="c-smallText p-smallText-gray">{{ data.user['id']}}が{{ new Date(data['created_at']).toLocaleDateString() }}に投稿</p>
                    <h3 class="c-articleTitle">
                        <a v-bind:href="data['url']" class="c-link p-article-link" target="_blank">{{ data['title']}}</a>
                    </h3>
                </li>
            </ul>
        </div>
        <div class="l-sideColumn">
            <h2 class="c-heading">記事投稿</h2>
            <div class="c-postForm">
                <input type="text" class="c-inputPost" v-model="yourToken" placeholder="あなたのトークンを入力">
                <input type="text" class="c-inputPost" v-model="title" placeholder="記事タイトルを入力">
                <input type="text" class="c-inputPost" v-model="tag" placeholder="ここにタグを入力">
                <textarea name="articleArea" id="" cols="30" rows="10" placeholder="ここに記事内容を入力" v-model="article" class="c-inputArticle"></textarea>
                <p class="c-errorText" v-show="postMessage">{{ postMessage }}</p>
                <button type="submit" class="c-btn" v-on:click="postArticleApi">投稿</button>
            </div>
        </div>
    </div>
</main>
<script src="dist/js/bundle.js"></script>
</body>
</html>