//入力エリア
.c-inputArea{
  background: $white;
  height: 32px;
  width: 320px;
  margin-top: $margin-s;
  border-radius: 3px;
  padding-left: $padding-ss;
  box-sizing: border-box;
  margin-bottom: $margin-m;
}